html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #DDDDDD;
  margin: 0;
}

.head {
  background-image: url("wooden-floor-1853403_1920.jpg");
  background-size: cover;
  padding: 10rem 0;
}

.logo {
  text-align: center;
  color: white;
  margin: 0;
}

.logo h1 {
  font-family: 'Kaushan Script', cursive; 
  font-size: 100px;
  margin: 0;
}

.logo h3 {
  font-family: 'Caveat', cursive;
  font-size: 5rem;
  margin: 0;
  padding: 2rem 0;
}

header {
  padding-top: 5px;
  padding-bottom: 15px;
  background-color: darkgray;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
}

.flag i {
  color: black;
  padding: 0 1.5rem;
  font-size: 20px;
  letter-spacing: 5px;
}

.flag i:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.5;
}

main section {
  margin-top: 10rem;
  margin-bottom: 5rem;
  font-size: 7rem;
  color: #444444;
  text-align: center;
}

main section i {
  padding-top: 70px;
  margin-top: -70px;
}

main > img {
  float: left;
  border-radius: 50%;
  width: 30rem;
  height: 25rem;
  margin: 0 1rem 0 15rem;
  background-position: center;
}

main > p {
  font-size: 2rem;
  margin: 0 20rem 0 50rem;
}

.skill {
  margin-top: 20rem;
  clear: both;
}

.wrappers {
  background-color: white;
  margin: 0;
  padding-bottom: 3rem;
  display: flex;
}

.wrapper {
  padding: 50px 50px;
  text-align: center;
}

.wrapper h3 {
  margin: 0;
  font-size: 3rem;
}

.wrapper i {
  font-size: 6rem;
  padding: 30px 0;
}

.wrapper p {
  font-size: 1.8rem;
  margin: 0;
}

.card {
  margin: 50px 100px;
  padding: 0;
  text-align: center;
}

figure {
  margin: 0 3rem;
  padding: 0;
  width:25%;
  height: 35rem;
  border:3px groove gray;
  display: inline-block;
  background-color: white;
}

figure img {
  width: 100%;
  height: 20rem;
}

.figureTitle {
  font-size: 1.5rem;
  font-family: 'arial black';
}

figcaption a {
  color: black;
  text-decoration: none;
}

figure a:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.5;
}

figcaption p {
  padding: 2rem 0;
}

.git {
  color: blue;
}

.contact {
  margin-bottom: 0;
}

.sub {
  text-align: center;
}

.sub p {
  line-height: 0%;
  font-size: 1.5rem;
}

.sub h1 {
  font-size: 6rem;
  font-family: 'Ubuntu Mono', monospace;
  color:  #444444;
}

.sub h3 {
  font-size: 3rem;
  font-family: 'Caveat', cursive;
}

.photo img {
  margin-top: 3rem;
  border-radius: 50%;
  width: 8rem;
  height: 7rem;
  background-position: center;
}

.connection {
  color: blue;
  text-decoration: none;
  font-size: 1.5rem;
}

.sub a:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.5;
}

.footer-list {
  background-color: #444444;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 0 4rem 0;
}

.footer-list a {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.footer-list a:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.5;
}